<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>学生管理</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/dashboard.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="教师资源.html">教师资源</a></li>
        <li><a href="学生资源.html">学生资源</a></li>
        <li><a href="课程管理.html">课程管理</a></li>
        <li><a href="教师管理.html">教师管理</a></li>
        <li class="active"><a href="学生管理.html">学生管理</a></li>
        <li><a href="学生端%20-%20资源库.html">资源库</a></li>
        <li><a href="作业管理.html">作业管理</a></li>
        <li><a href="#">发布作业</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="padding: 5px 20px;">
        <li><img src="./img/person.jpg" class="img-circle" height="60px"></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid" id="list">
  <div class="row">
    <div class="col-md-10 main">
      <div class="panel" style="border:0px;">
        <div class="page-header">
          <div class="btn-group">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addStuModal"> 新增</button>
          </div><!-- /btn-group -->
          <div class="btn-group">
            <button type="button" class="btn btn-danger" v-on:click="remove"> 删除</button>
          </div><!-- /btn-group -->
        </div>
      </div>
      <div class="table-responsive">
          <table class="table table-hover" id="dataTable">
            <thead>
            <tr>
              <th></th>
              <th>编号</th>
              <th>姓名</th>
              <th>学号</th>
              <th>学院</th>
              <th>专业</th>
              <th>班级</th>
              <th>课程</th>
            </tr>
            </thead>
            <tbody v-if="students">
            <tr v-for="(student, index) in students">
              <td><input type="checkbox" name="choseStu"> </td>
              <td>{{ student.id }}</td>
              <td>{{ student.name }}</td>
              <td>{{ student.num }}</td>
              <td>{{ student.academy }}</td>
              <td>{{ student.major }}</td>
              <td>{{ student.grade }}</td>
              <td>{{ student.course }}</td>
            </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<!--新增学生信息面板-->
<div class="modal fade" id="addStuModal" tabindex="-1" role="dialog" aria-labelledby="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">新增学生信息</h4>
      </div>
      <div class="modal-body">
        <form id="addStuForm" class="form-horizontal">
          <div class="form-group">
            <label for="id" class="col-sm-2 control-label">编号:</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" v-model="id" id="id" name="id">
              </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">姓名:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" v-model="name" id="name" name="name" />
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">学号:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" v-model="num" id="num" name="num" />
            </div>
          </div>
          <div class="form-group">
            <label for="academy" class="col-sm-2 control-label">学院:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" v-model="academy" id="academy" name="academy" />
            </div>
          </div>
          <div class="form-group">
            <label for="major" class="col-sm-2 control-label">专业:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" v-model="major" id="major" name="major" />
            </div>
          </div>
          <div class="form-group">
            <label for="grade" class="col-sm-2 control-label">班级:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" v-model="grade" id="grade" name="grade" />
            </div>
          </div>
          <div class="form-group">
            <label for="course" class="col-sm-2 control-label">课程:</label>
            <div class="col-sm-4">
              <textarea class="form-control" id="course" v-model="course" name="course"></textarea>
            </div>
          </div>
        </form>
        <div class="alert alert-danger alert-dismissible hide" role="alert" id="errorAlert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Error!</strong> <span v-model="errorMsg">{{ errorMsg }}</span>.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" v-on:click="add">确定</button>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/stuManage.js"></script>
<!--学生信息模板-->
<template id="studentListTemp">

</template>

</body>
</html>
